html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
body {
    overflow-x: hidden;
    letter-spacing: -0.05em;
    background: white;
    color: rgb(29, 29, 31);
}
p {
    line-height: 1.6;
}
.container {
    overflow-x: hidden;
}
.scene {
    position: relative;
    padding-top: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.end-section {
    height: 100vh;
    padding-top: 50vh;
    color: rgb(29, 29, 31);
}
.title-message {
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 2rem;
    color: #888;
    /*padding-bottom: 300px;*/
}
.title-message strong {
    color: rgb(29, 29, 31);
}
.canvas-caption {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
}
h1 {
    position: relative;
    top: -15vh;
    z-index: 5;
    font-size: 4rem;
    text-align: center;
}
.image-blend-canvas.sticky {
    position: fixed;
    top: 0;
}
@media (min-width: 1024px) {
    h1 {
        font-size: 9vw;
    }
    .title-message {
        /*padding: 0;*/
        font-size: 4vw;
    }
    .canvas-caption {
        padding: 0;
        font-size: 2rem;
    }
}
