html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
body {
    overflow-x: hidden;
    letter-spacing: -0.05em;
    background: white;
    color: rgb(29, 29, 31);
}
p {
    line-height: 1.6;
}
.container {
    overflow-x: hidden;
}
.scene {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    position: relative;
    z-index: 5;
    font-size: 4rem;
    text-align: center;
}
.sticky-elem {
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
}
.colorful-text {
    background: linear-gradient(150deg, rgb(15, 68, 167) 100%, rgb(217, 90, 90) 200%, rgb(76, 167, 84) 300%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.start-section {
    height: 100vh;
    color: rgb(29, 29, 31);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mouse {
    width: 100px;
    height: 180px;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.mouse-wheel {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    opacity: 0.7;
    animation: fadein 3s linear infinite;
}

@keyframes fadein {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.rect {
    width: 50%;
    height: 100vh;
    background: blue;
    transform: rotateX(20deg) rotateY(30deg) rotateZ(0deg);
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rect p {
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 9vw;
    }
}
