html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
body {
    overflow-x: hidden;
    letter-spacing: -0.05em;
    background: white;
    color: white;
}
p {
    line-height: 1.6;
}
a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}
.container {
    overflow-x: hidden;
}
.scroll-section {
    position: relative;
    padding-top: 50vh;
}
.end-section {
    height: 100vh;
    padding-top: 50vh;
}
h1 {
    position: relative;
    top: -15vh;
    z-index: 5;
    font-size: 4rem;
    text-align: center;
}
.end-section {
    color: rgb(29, 29, 31);
}
.main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40vh;
    margin: 5px 0;
    height: 3em;
    font-size: 2.5rem;
    opacity: 0;
}
.main-message p {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}
.sticky-elem {
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
}
.sticky-elem-canvas {
    top: 0;
    height: 100%;
}
.sticky-elem-canvas canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 9vw;
    }
    .main-message {
        font-size: 4vw;
    }
}
