.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
}

.image-wrapper img {
    width: 100%;
}

.eye-wrapper {
    position: absolute;
    width: 34px;
    height: 17px;
}

.eye-wrapper.left {
    left: 114px;
    top: 66px;
}

.eye-wrapper.right {
    left: 164px;
    top: 68px;
}

.eye {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background: white;
    left: 0;
    top: 0;
}
