body {
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
}

.image-wrapper img {
    width: 100%;
}

.eye-wrapper {
    position: absolute;
    width: 34px;
    height: 17px;
}

.eye-wrapper.left {
    left: 114px;
    top: 66px;
}

.eye-wrapper.right {
    left: 164px;
    top: 68px;
}

.eye {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background: white;
    left: 0;
    top: 0;
}

.mouse-cursor {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('images/ball.jpg');
    background-size: cover;
    cursor: none;
    animation: rotate_image 3s linear infinite;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
